.jumbotron {
    background-image: url("../images/laboratory.jpeg");
    background-size: 100% 100%;
    text-align: center;
    font-family: "Times New Roman"
}

body {
    background-color: skyblue;
}